@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;0,700;1,600&display=swap');
body {
    background: white;
    font-family: Cabin, Verdana, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: clamp(1em, 1em + 1vw, 1.2em);
    line-height: 1.3;
    letter-spacing: 1px;
    color: #7d7d7d;
    margin: 0px;
    padding: 0px;
    hyphens: auto;
}

a {
    text-decoration: none;
    color: #359c9c;
}

img {
    width: 100%;
}

.margincontent {
    padding: 0px 10%;
}

.title {
    font-weight: 700;
    font-size: clamp(1em, 1em + 1vw, 1.1em);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.subtitle {
    font-style: italic;
    color: #f9a90e;
    padding-bottom: 25px;
}

.more {
    font-weight: 700;
    font-size: clamp(1em, 1em + 1vw, 1.1em);
    width: 220px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #7d7d7d;
    padding: 15px;
}

.main {
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.twocol {
    width: 50%;
    padding: 35px 5px;
}

.threecol {
    width: 33%;
    padding: 35px 5px;
}

.fourcol {
    width: 25%;
    padding: 35px 5px;
}

.header {
    text-align: center;
}

.banner {
    position: relative;
}

.header .description {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pagetitle {
    position: absolute;
    font-size: clamp(5em, 5em + 5vw, 5.1em);
    color: white;
    font-weight: bolder;
    margin: 0px;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 5px 12px black;
}

.videocontainer {
    background-color: #f8f8f8;
    display: flex;
}

.videodescription .title,
.videodescription .subtitle,
.videodescription .description {
    text-align: left;
    margin: 0px;
    padding-left: 20px;
}

.team {
    background-color: #f8f8f8;
}

.team .gallery {
    display: flex;
}

.txtgallery {
    display: flex;
    text-align: justify;
}

.imagecontainer .description {
    margin: 10px;
    text-align: jsutify;
}

.imagecontainer .picture {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 20px;
}

.api_vagas .title {
    text-align: center;
    padding-top: 30px;
}

.api_vagas .grouplist .title {
    text-align: left;
    margin: 0px;
    padding-bottom: 20px;
}

.listitem {
    display: flex;
    padding-top: 10px;
}

.listitem .position {
    width: 50%;
}

.listitem .location {
    width: 50%;
    justify-content: center;
    text-align: right;
}

@media screen and (max-width: 1279px) {
    body {
        font-size: clamp(2em, 2em + 2vw, 3.2em);
    }
    .pagetitle {
        font-size: clamp(1.5em, 1.5em + 1.5vw, 3.1em);
    }
    .margincontent {
        padding: 0px 5%;
    }
    .twocol {
        width: 100%;
    }
    .threecol {
        width: 100%;
    }
    .teampic {
        width: 50%;
        flex-wrap: wrap;
    }
    .txtgallery {
        display: block;
        padding-top: 10%;
    }
    .subtitle {
        padding-bottom: 25px;
    }
    .main {
        padding-bottom: 25%;
    }
    .twocol {
        padding: 35px 5px;
    }
    .threecol {
        padding: 35px 5px;
    }
    .fourcol {
        padding: 35px 5px;
    }
    .header .description,
    .more {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .more {
        width: 85%;
    }
    .videocontainer {
        display: block;
        padding-bottom: 10%;
    }
    .videodescription .title,
    .videodescription .subtitle,
    .videodescription .description {
        padding-left: 0px;
    }
    .imagecontainer .picture {
        padding-bottom: 20%;
    }
    .api_vagas .title {
        padding-top: 20%;
    }
    .listitem {
        display: block;
        padding-top: 2%;
    }
    .listitem .position {
        width: 100%;
    }
    .listitem .location {
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 790px) {}